---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/me.png';
import { useTranslations } from '../i18n';

const lang = 'en';
const t = useTranslations(lang);
---

<Layout
  title={t.about.title}
  description={t.about.paragraphs[0]}
  pubDate={new Date()}
  heroImage={AboutHeroImage}
>
  {t.about.paragraphs.map((p) => <p>{p}</p>)}
</Layout>
