---
import Layout from '../../layouts/BlogPost.astro';
import AboutHeroImage from '../../assets/me.png';
import { useTranslations } from '../../i18n';

export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

const lang = Astro.params.lang || 'es';
const t = useTranslations(lang);
---

<Layout
  title={t.about.title}
  description={t.about.paragraphs[0]}
  pubDate={new Date()}
  heroImage={AboutHeroImage}
  heroImageCaption={'Sí, este avatar creado con IA intenta hacerme ver más organizada de lo que realmente soy.'}
>
  {t.about.paragraphs.map((p) => <p>{p}</p>)}
</Layout>
